:root {
 --mainBlue:#92bfdd;
 --lightBlue:#123e50;
 --mainWhite:#ebd3eb;
 --mainDark:#63748a;
 --mainYellow:#e5c488;
}
body{
  font-family:"Oldtown", fantasy !important;
  background:var(--mainWhite) !important;
  color:var(--mainDark) !important;
}
.text-title{
  font-family: 'Oldtown', fantasy;
  letter-spacing:0.3rem;
  text-transform: uppercase; 
}
.text-blue{
  color:var(--mainBlue);
}
.text-bright{
  color:var(--lightBlue);
}
.btn-black{
  background:transparent;
  text-transform:capitalize;
  font-size:0.9rem !important;
  color:var(--mainDark);
  border-radius: 0 !important;
  border:0.1rem solid var(--mainDark) !important;
}
.btn-black:hover{
  background:var(--mainDark) !important;
  color:var(--mainWhite) !important;
}
.cart-icon{
  cursor:pointer;
  font-size:1.5rem;
  color:var(--mainYellow);
}